@import "../../../_variables.scss";

.comics {
  margin-top: 2rem;
}

.character-comics-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.character-banner {
  display: flex;
  background-color: map-get($colorPalette, detailvar);
  justify-content: space-between;
  height: 50vh;
  border-radius: 25px;
  overflow: hidden;
}

.character-banner-text {
  margin: 3rem;
  width: 100%;
  .character-description {
    font-size: larger;
    font-weight: 500;
    line-height: 30px;
  }
}

img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
