.searchBar{
    align-content: center;
    input{
        display: inline;
        margin: 0 3rem;
        width: calc(100% - 6rem);
        height: 3rem;
        padding: 1rem;

        border-radius: 25px;
        border-width: 0;
        outline: none;


        font-family: 'SF Pro Display', sans-serif;
        font-weight: 500;
        font-size: 20px;
    }
}