@import "../../../_variables.scss";

* {
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  // background-color: map-get($colorPalette, main);
  background-color: map-get($colorPalette, secondary);
}

.header__elements {
  margin: 1rem 4rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;

  .header__brand {
    padding: 0;
    display: contents;
    img {
      height: 100%;
    }
  }

  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    align-items: center;

    a:hover {
      color: map-get($colorPalette, detailvar);
    }
  }
}

a {
  padding: 0.6rem 1.2rem;
  text-decoration: none;
  font-weight: 700;

  color: map-get($colorPalette, detail);
}

.link--active {
  color: map-get($colorPalette, detailvar);
}
