@import "../../../_variables.scss";

.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.paggingButtons {
  display: flex;
  justify-content: center;
}

button {
  margin: 0.6rem 1rem;
  width: 8rem;
  border: none;
  padding: 1rem;
  background-color: map-get($colorPalette, detailvar);
  color: white;
  border-radius: 10px;
  font-weight: 600;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}
