@keyframes ldio-vcv8ic9a2pd-o {
  0% {
    opacity: 1;
    transform: translate(0 0);
  }
  49.99% {
    opacity: 1;
    transform: translate(80px, 0);
  }
  50% {
    opacity: 0;
    transform: translate(80px, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 0);
  }
}
@keyframes ldio-vcv8ic9a2pd {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(80px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.ldio-vcv8ic9a2pd div {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 60px;
  left: 20px;
}
.ldio-vcv8ic9a2pd div:nth-child(1) {
  background: #ee171f;
  animation: ldio-vcv8ic9a2pd 0.7575757575757576s linear infinite;
  animation-delay: -0.3787878787878788s;
}
.ldio-vcv8ic9a2pd div:nth-child(2) {
  background: #6f73d2;
  animation: ldio-vcv8ic9a2pd 0.7575757575757576s linear infinite;
  animation-delay: 0s;
}
.ldio-vcv8ic9a2pd div:nth-child(3) {
  background: #ee171f;
  animation: ldio-vcv8ic9a2pd-o 0.7575757575757576s linear infinite;
  animation-delay: -0.3787878787878788s;
}
.loadingio-spinner-dual-ball-gg10fkshoyq {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}
.ldio-vcv8ic9a2pd {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-vcv8ic9a2pd div {
  box-sizing: content-box;
}
