$colors1: (primary: #F6F4F3, secondary:#FBFBFB, detail:#271F30, detailvar:#6F73D2, brand:#EE171F);
$colors2: (primary: #F6F4F3, secondary:#FBFBFB, detail:#E4FF1A, detailvar:#FFB800, brand:#EE171F);
$colors3: (primary: #F6F4F3, secondary:#FBFBFB, detail:#070707, detailvar:#3454D1, brand:#EE171F);

$colorPalette: $colors1;